body{
    font-family: 'Trebuchet MS',Arial;
    font-size: 18px;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
}
.app_window{
    background: url(../img/window-bg.png) repeat-x;
}


.inp_rule{
    border-bottom: 1px solid #ccc;
    margin: 10px;
}
.inp_group{
    display: inline-block;
    width:320px;
    min-height: 25px;
    margin: 2px;
    -border: 1px solid black;
}
.textbox{
    border-radius: 0px !important;
    left:-1px;
}
.inp_group b{
    display: inline-block;
    width:95px;
    text-align: right;
    padding-right: 2px;
    font-weight: normal;
}
input,select,textarea{
    border: 1px solid #ace;
    padding: 3px;
    width:200px;
    vertical-align:top;
}
input[type=checkbox]{
    width: 20px;
}
input:hover,select:hover,textarea:hover{
    background: #e0f3ff;
    border-color:#acf;
}
fieldset{
    display: inline-block;
    width:350px;
    padding: -2px;
}
fieldset .inp_group b{
    width:82px;
}
select{
    padding:0px;
    width: 259px;
}
option{
    padding: 1px;
    border-bottom: 1px solid #ace;
}
button, .gray_grad, .light_grad{
    border: 1px solid #759dc0;
    padding: 2px 4px 4px 4px;
    color: #000000;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    background-color: #bcd8f4;
    background-repeat: repeat-x;
    background-image: linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.75) 100%);
    transition-property: background-color;
    transition-duration: 1s;
}
button:hover, .gray_grad:hover, .light_grad:hover{ 
    background-color: #86bdf2;
    color: #000000;
    transition-duration: 0.5s;
}
button:active{
    background-color: #86bdf2;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
    transition-duration: 0.1s;
}
button[diasbled="disabled"]{
  background-image: none;
  outline: none;
}

#error{
    margin: 10px;
    border: 1px solid #D0D0D0;
    box-shadow: 0 0 8px #D0D0D0;
}
#error h1 {
    color: #444;
    background-color: transparent;
    border-bottom: 1px solid #D0D0D0;
    font-size: 19px;
    font-weight: normal;
    margin: 0 0 14px 0;
    padding: 14px 15px 10px 15px;
}
.tabs li a.tabs-inner{
    border-radius: 0px;
}
.panel-body {
    background-color: rgba(255,255,255,0.75);
}
.tabs-header, .tabs-tool {
    background-color: rgba(224,236,255,0.85);
}
.transp60{
    background-color: rgba(255,255,255,.6);
}