<script type="text/javascript">
    /* global App */
    DocEntEd=App.page_trade_document_entry_edit = {
	init: function () {
	    this.node.window({
		title: 'Редактирование строки',
		width: 450,
		height: 'auto',
		onClose: function () {
		    DocEntEd.handler.notify('close');
		    delete App.page_trade_document_entry_edit,DocEntEd;
		}
	    });
	    this.node.window('center');
	    App.renderTpl('DocEntEd_markup',this.data);
	    App.setupForm("#document_ented_frm",this.data,'use_inp_values');
            //DocEntEd.formSet(DocEntEd.data);
	    $("input[name=product_quantity]").numberspinner({suffix:' '+this.data.product_unit});
	    $("input[name=product_price]").numberspinner({precision:this.data.head.signs_after_dot});
	    setTimeout(DocEntEd.getStats,100);
	},
	formSet:function(){
	    DocEntEd.suppressUpdate=true;
	    $("#document_ented_frm").form('load',DocEntEd.data);
	    setTimeout(function(){DocEntEd.suppressUpdate=false},100);	    
	},
	change: function( name, value ){
	    if( DocEntEd.suppressUpdate===true ){
		return;
	    }
	    $.post( App.uri('DocumentItems','entryUpdate',DocEntEd.data.doc_entry_id,name,value), function(ok){
		if(ok*1){
		    DocEntEd.handler.notify('change');
		    DocEntEd.data[name]=value;
		    DocEntEd.getStats();
		}
		else{
		    DocEntEd.formSet();
		    App.flash('Ошибка. Значение не изменено!');
		}
	    });
	},
	getStats:function(){
	    $.post( App.uri('DocumentItems','entryStatsGet',DocEntEd.data.product_code), function(xhr){
		DocEntEd.stats=App.json(xhr);
		DocEntEd.renderStats();
	    });
	},
	renderStats:function(){
	    var stats=DocEntEd.stats||{};
	    stats.unit=DocEntEd.data.product_unit;
	    if( stats.price===DocEntEd.data.product_price ){
		stats.color='blue';
	    }else
	    if(stats.price>DocEntEd.data.product_price){
		stats.color='red';
	    }
	    else{
		stats.color='green';
	    }
	    App.renderTpl('DocEntEd_qty_markup',stats);
	    App.renderTpl('DocEntEd_price_markup',stats);
	}
    };
</script>
<form id="document_ented_frm">
    <div id="DocEntEd_markup">
	<input type="text" value="{{product_code}}" title="Код" disabled="disabled">
	<textarea disabled="disabled" title="Название" rows="1">{{product_name}}</textarea>
        <input type="text" value="{{product_uktzet}}" title="УКТ ЗЕД" disabled="disabled">
    </div>
    <div>
    <input class="easyui-textbox" name="party_label" title="Партия" data-options="
	   onChange:function(val){DocEntEd.change('party_label',val)}
	   ">
    <input class="easyui-numberspinner" name="product_quantity" title="Кол-во" data-options="
	   precision:0,
	   suffix:'шт',
	   onChange:function(val){DocEntEd.change('product_quantity',val)}
	   " />
    <span id="DocEntEd_qty_markup" title="Кол-во на складе">Склад: {{product_quantity}} {{unit}}</span>
    </div>
    <div>
	<input class="easyui-numberspinner" name="product_price" id="doc_ent_price" title="Цена" data-options="
	   groupSeparator:' ',
	   decimalSeparator:',',
	   onChange:function(val){DocEntEd.change('product_price',val);}
	   " />
    <span id="DocEntEd_price_markup" title="Стандартная цена">Цена: <b style="color:'{{color}}'">{{price}} {{curr_symbol}}</b></span>
    </div>
</form>
<div style="text-align: center">
    <button type="button" onclick="DocEntEd.node.window('close')"><img src="img/apply24.png" style="vertical-align: middle"> Закрыть</button>
    <button type="button" onclick="Doc.entries.delete();DocEntEd.node.window('close');"><img src="img/delete.png" style="vertical-align: middle"> Удалить</button>
</div>
<br>
