<script type="text/javascript">
    /* global App */
    var Doc=App.page_trade_document = {
	init: function () {
	    this.node.window({
		title: 'Документ',
		width: 700,
		height: 'auto',
		top: 50,
		onClose: function () {
		    Doc.handler.notify('close');
		    delete Doc,App.page_trade_document;
		}
	    });
	    this.head.load(this.data.doc_id);
	},
	initAfter:function(){
	    this.suggest.init();
	},
	setTitle:function(){
	    $('#page_trade_document').window('setTitle','Документ - '+(Doc.head.props.is_commited?"Проведен":"Не проведен") );
	}
    };
    /////////////////////////////////////////////
    // HEAD
    /////////////////////////////////////////////
    Doc.head = {
	load: function (doc_id) {
	    this.doc_id=doc_id;
	    App.setupForm("#document_head_frm", {});
	    $.get('DocumentItems/headGet/' + this.doc_id, function (xhr) {
		Doc.head.props = App.json(xhr);
		if( Doc.head.props ){
		    //Doc.entries.reload();
		    Doc.head.setPropsForm(Doc.head.props);
		    Doc.head.typeComboFormatterIcon(Doc.head.props.doc_type);
		    App.renderTpl('document_owners',Doc.head.props);
		    Doc.setTitle();
		    Doc.view.loadTile();
		}
		else{
		    App.flash("Документ удален",'alert');
		    Doc.node.window('close');
		}
	    });
	},
	setPropsForm:function(props){
	    Doc.head.loaded=false;
	    $('#document_head_frm').form('load', props);
	    Doc.head.loaded=true;
	},
	update:function( field, value, oldval ){
	    if( Doc.head.loaded && value!==oldval ){
		$.post('DocumentItems/headUpdate/'+field+'/'+value,function(ok){
		    Doc.head.afterUpdate( ok, field, value, oldval );
		});
	    }
	},
	afterUpdate:function( ok, field, value, oldval ){
	    switch( field ){
		case 'doc_ratio':
		case 'vat_rate':
		case 'use_vatless_price':
		case 'signs_after_dot':
		    Doc.entries.reload();
		    break;
		case 'passive_company_id':
		    if( !ok ){
			App.flash("Сменить контрагента можно только у не проведенного документа.",'alert');
			$("#document_pci").combobox('reload');
		    }
		    break;
		case 'doc_type':
		    if( !ok ){
			App.flash("Сменить тип документа можно только у не проведенного документа.",'alert');
			this.typeComboFormatterIcon(oldval);
		    }
		    break;
		case 'notcount':
		    if( !ok ){
			App.flash("Сменить учет на складе можно только у не проведенного документа.",'alert');
		    }
		    break;
	    }
	    if( !ok ){
		Doc.head.setPropsForm( Doc.head.props );
		App.flash('Свойства документа не были сохранены');
	    }
	    else{
		Doc.head.props[field]=value;
	    }
	},
	typeComboFormatter: function (data) {
	    return "<img src='img/" + ["", "sell", "buy", "serviceout", "servicein"][Math.abs(data.value)] + ".png'> " + data.text;
	},
	typeComboFormatterIcon:function(newVal){
	    var icon=Doc.head.typeComboFormatter({value:newVal,text:''});
	    $('#document_type_cmb').next().find(".l-btn-text").html( icon );
	},
	companyListFrm:function(row){
	    var path_chunks=row.path.split('>');
	    var label=path_chunks.slice(path_chunks.length-2).reverse().join('/ ');
	    return label;
	},
	sendSms:function(){
	    $.get("Company/companyGet/"+Doc.head.props.passive_company_id, function ( xhr ) {
		var passive_data=App.json(xhr);
		var data={to:passive_data.company_mobile,body:Doc.head.props.doc_data};
		App.loadWindow('page/dialog/send_sms',data);	    
	    });
	},
	addEvent:function(){
	    $.get("Company/companyGet/"+Doc.head.props.passive_company_id, function ( xhr ) {
		var passive_data=App.json(xhr);
		var fvalue={
		    event_id:0,
		    event_user_id: App.userData.user_id,
		    event_name: 'Документ №' + Doc.head.props.doc_num,
		    event_descr: Doc.head.props.doc_data,
		    event_target: passive_data.company_person + " (" + passive_data.label + ")",
		    event_place: passive_data.company_address,
		    event_note: passive_data.company_mobile
		};
		App.loadWindow('page/dialog/event',fvalue);	    
	    });
	},
	commit:function(){
	    $.post("DocumentItems/entryDocumentCommit/", function ( xhr ) {
		Doc.head.loaded=false;
		Doc.head.load(Doc.head.doc_id);
	    });
	},
	uncommit:function(){
	    $.post("DocumentItems/entryDocumentUncommit/", function ( xhr ) {
		Doc.head.loaded=false;
		Doc.head.load(Doc.head.doc_id);
	    });
	}
    };
    /////////////////////////////////////////////
    // ENTRIES
    /////////////////////////////////////////////
    Doc.entries = {
	reload:function(){
	    $('#document_entry_dg').datagrid('reload');
	},
	loader: function (param, success, error) {
	    //alert(Doc.head.loaded);
	    if( Doc.head.loaded ){
		$.post("DocumentItems/entryDocumentGet/", function ( xhr ) {
		    var resp = App.json(xhr);
		    success(resp.entries ? resp.entries : []);
		    Doc.entries.renderFooter( resp.footer );
		});
	    }
	    else{
		success([]);
	    }
	},
	edit:function(){
	    var row=$("#document_entry_dg").datagrid('getSelected');
	    if( !row ){
		App.flash("Строка не выбрана!");
		return;
	    }
	    App.loadWindow('page/trade/document_entry_edit',row).progress(function(state){
		if(state==='change'){
		    Doc.entries.reload();
		}
	    });
	},
	delete:function(){
	    var rows=$("#document_entry_dg").datagrid('getSelections');
	    if( !rows.length ){
		App.flash("Ни одна строка не выбрана!");
		return;
	    }
	    if( confirm("Удалить выделенные строки?") ){
		var ids=[];
		rows.forEach(function(row){
		    ids.push(row.doc_entry_id);
		});
		$.post(App.uri('DocumentItems','entryDelete',ids.join(',')), function () {
		    Doc.entries.reload();
		});		
	    }
	},
	onRowContextMenu: function (e, row) {
	    e.preventDefault();
	    $('#document_entry_menu').menu('show', {
		left: e.pageX,
		top: e.pageY
	    });
	},
	renderFooter:function( data ){
	    App.renderTpl('document_footer',data);
	},
	initRecalculate:function(){
	    App.loadWindow('page/trade/document_recalculate').progress(function(state,data){
		if( state==='submit' ){
		    $.post("DocumentItems/recalc/"+(data.recalc_proc||0), function ( xhr ) {
			Doc.entries.reload();
		    });
		}
	    });
	}
    };
    /////////////////////////////////////////////
    // SUGGEST
    /////////////////////////////////////////////
    Doc.suggest={
	prevQuery:'',
	prevCode:'',
	init:function(){
	    var cmb=$('#document_suggest_cmb').combobox('textbox');
	    cmb.bind( 'keydown', function(e){
		Doc.suggest.prevQuery=$('#document_suggest_cmb').combobox('getValue');
		if( e.key==='Left' ){
		    $('#document_suggest_cmb').combobox('setValue',Doc.suggest.prevQuery);
		}
		else if( e.key==='Up' ){
		    $('#document_suggest_cmb').combobox('setValue',Doc.suggest.prevCode);
		}
	    });
	},
	loader:function(param, success, error){
	    if( param.q ){
		$.get("DocumentItems/suggestFetch/",param, function ( xhr ) {
		    success( App.json(xhr) || [] );
		});		
	    }
	    else{
		success([]);
	    }
	},
	formatter:function(row){
	    return row['product_code']+' '+row['label'];
	},
	select:function(){
	    Doc.suggest.prevCode=$('#document_suggest_cmb').combobox('getValue');
	}
    };
    /////////////////////////////////////////////
    // VIEW
    /////////////////////////////////////////////
    Doc.view={
	loadTile:function(){
	    var _this=this;
	    var doc_id=Doc.data.doc_id;
	    $.get('View/listFetch/' + doc_id, function (xhr) {
		_this.views = _this.compile(JSON.parse(xhr));
		App.renderTpl('document_view_tile',{views:_this.views});
	    });
	},
	compile:function( views ){
	    for( var i in views ){
		var view=views[i];
		var efield_vals=App.json(view.view_efield_values);
		var efield_labs=App.json(view.view_efield_labels);
		views[i].efields=[];
		for( var k in efield_labs ){
		    views[i].efields.push({field:k,label:efield_labs[k],value:efield_vals?efield_vals[k]||'':''});
		}
	    }
	    return views;
	},
	settings:function( i ){
	    var view=Doc.view.views[i];
	    App.loadWindow('page/trade/view_settings',view);
	},
	click:function(doc_view_id){
	    window.open("./?mod=Companies&rq=DocumentOut&doc_view_id="+doc_view_id, '_new');
	}
    };
</script>
<form id="document_head_frm" onsubmit="return false;" style="-moz-user-select:none;">
    <!-- DOCUMENT HEADER -->
    <div style="width: 658px;margin: auto;padding-top: 10px;">
	<div>
	    <select class="easyui-combobox" id="document_type_cmb" name="doc_type" title="Вид" data-options="
		    editable:false,
		    buttonText:'<img src=img/sell.png>',
		    buttonAlign:'left',
		    formatter:Doc.head.typeComboFormatter,
		    panelHeight:'auto',
		    onChange:function(val,old){
			Doc.head.update('doc_type',val,old);
			Doc.head.typeComboFormatterIcon(val);
		    }
		    ">
		<option value="1">Реализация</option>
		<option value="2">Поступление</option>
		<option value="-1">Реализация Возврат</option>
		<option value="-2">Поступление Возврат</option>
		<option value="3">Оказание услуги</option>
		<option value="4">Получение услуги</option>
	    </select>
	    <input type="text" name="doc_ratio" class="easyui-numberbox" title="Курс" data-options="
		   min:1,
		   precision:2,
		   onChange:function(val,old){Doc.head.update('doc_ratio',val,old)}
		   ">
	    <input class="easyui-combobox" name="passive_company_id" id="document_pci" title="Контрагент" data-options="
		    valueField: 'company_id',
		    textField: 'label',
		    url: 'Company/listFetch/selected_passive_if_empty',
		    mode: 'remote',
		    method:'get',
		    formatter:Doc.head.companyListFrm,
		    onSelect: function(company){Doc.head.update('passive_company_id',company.company_id)}
		    ">
	    <input type="text" name="signs_after_dot" class="easyui-numberspinner" title="Точность" data-options="
		   min:0,
		   max:5,
		   editable:false,
		   required:'required',
		   onChange:function(val,old){Doc.head.update('signs_after_dot',val,old)}
		   ">
	    <input type="text" name="doc_date" class="easyui-datebox" title="Дата" data-options="
		   required:'required',
		   onChange:function(val,old){Doc.head.update('doc_date',val,old)}
		   ">
	    <input type="text" name="doc_num" class="easyui-numberspinner" title="Номер" data-options="
		   min:1,
		   required:'required',
		   onChange:function(val,old){Doc.head.update('doc_num',val,old)}
		   ">
	</div>
	<div id="document_utils" style="display: none">
	    <div class="inp_rule"></div>
	    <select class="easyui-combobox" name="notcount" title="На складе" data-options="
		    editable:false,
		    panelHeight:'auto',
		    onChange:function(val,old){Doc.head.update('notcount',val,old)}
		    ">
		<option value="0">Учитывать</option>
		<option value="1">Неучитывать</option>
	    </select>
	    <select class="easyui-combobox" name="use_vatless_price" title="Цена" data-options="
		    editable:false,
		    panelHeight:'auto',
		    onChange:function(val,old){Doc.head.update('use_vatless_price',val,old)}
		    ">
		<option value="0">В том числе НДС</option>
		<option value="1">Плюс НДС</option>
	    </select>
	    <input type="text" name="vat_rate" class="easyui-numberbox" title="НДС %" data-options="
		   min:0,
		   precision:0,
		   onChange:function(val,old){Doc.head.update('vat_rate',val,old)}
		   ">
	</div>
	<div>
	    <div id="document_tool_bar" class="" style="padding:1px;text-align: right;">
		<div style="float:left" title="← для вывода предыдущего запроса,↑ для вывода предыдущего кода">
		    <input class="easyui-combobox" id="document_suggest_cmb" style="width:230px;" data-options="
			   valueField: 'product_code',
			   textField: 'product_code',
			   formatter:Doc.suggest.formatter,
			   loader:Doc.suggest.loader,
			   selectOnNavigation:true,
			   url: 'DocumentItems/suggestFetch/',
			   panelHeight:'auto',
			   mode: 'remote',
			   method:'get',
			   hasDownArrow:false,
			   panelWidth:400,
			   panelMinWidth:400,
			   prompt:'Введите код, название или штрихкод',
			   onSelect: Doc.suggest.select
			   ">
		    <input type="text" class="easyui-numberbox" style="width:50px;" value="1" data-options="min:1,precision:0,prompt:'Кол-во'">
		    <button title="Добавить строку в документ" style="margin:4px;padding: 0px;">+</button>
		</div>
		<span class="icon-24 icon-commit" title="Провести" onclick="Doc.head.commit();"> </span>
		<span class="icon-24 icon-uncommit" title="Отменить" onclick="Doc.head.uncommit();"> </span>
		<span style="display: inline-block;width:26px"> </span>
		<span class="icon-24 icon-lorry" title="Добавить в распорядок" onclick="Doc.head.addEvent();"> </span>
		<span class="icon-24 icon-sms" title="Отправить СМС" onclick="Doc.head.sendSms();"> </span>
		<span class="icon-24 icon-calc" title="Перерасчитать цены" onclick="Doc.entries.initRecalculate();"> </span>
		<span class="icon-24 icon-utils" title="Дополнительные свойства" onclick="$('#document_utils').toggle('slow')"> </span>
		<span class="icon-24 icon-change" title="Изменить строку" onclick="Doc.entries.edit();"> </span>
		<span class="icon-24 icon-delete" title="Удалить строку" onclick="Doc.entries.delete();"> </span>
		<span class="icon-24 icon-refresh" title="Обновить" onclick="Doc.entries.reload();"> </span>
	    </div>
	</div>
	<!-- 
	----------------------------
	DOCUMENT ENTRIES 
	----------------------------
	-->
	<table class="easyui-datagrid" id="document_entry_dg" style="width:660px;"
	       data-options="
	       rownumbers:true,
	       noheader:true,
	       ctrlSelect:true,
	       loader:Doc.entries.loader,
	       method:'get',
	       onDblClickRow:Doc.entries.edit,
	       onRowContextMenu: Doc.entries.onRowContextMenu
	       ">
	    <thead>
		<tr>
		    <th data-options="field:'product_code',width:80">Код</th>
		    <th data-options="field:'product_name',width:317">Название</th>
		    <th data-options="field:'product_quantity',width:50,align:'right'">Кол-во</th>
		    <th data-options="field:'product_unit',width:40,align:'center'">Ед.</th>
		    <th data-options="field:'product_price',width:55,align:'right'">Цена</th>
		    <th data-options="field:'product_sum',width:65,align:'right'">Сумма</th>
		    <th data-options="field:'row_status',width:24,align:'center',formatter:App.datagrid.tooltip">!</th>
		</tr>
	    </thead>
	</table>
	<!-- CONTEXT MENU -->
	<div id="document_entry_menu" class="easyui-menu" style="width:170px;">
	    <div data-options="iconCls:'icon-edit'" onclick="Doc.entries.edit()">Изменить</div>
	    <div data-options="iconCls:'icon-remove'" onclick="Doc.entries.delete()">Удалить</div>
	</div>
        <!-- DOCUMENT FOOTER -->
	<div id="document_footer">
	    <table style="float:left" class="footer_table">
		<tr>
		    <td>Вес:</td><td style="font-weight: bold;">{{total_weight}} кг</td>
		</tr>
		<tr>
		    <td>Объем:</td><td style="font-weight: bold;">{{total_volume}} м<sup>3</sup></td>
		</tr>
	    </table>

	    <table style="float:right" class="footer_table">
		<tr>
		    <td>Всего:</td><td style="font-weight: bold;">{{vatless}} {{curr_symbol}}</td>
		</tr>
		<tr>
		    <td>НДС:</td><td style="font-weight: bold;">{{vat}} {{curr_symbol}}</td>
		</tr>
		<tr>
		    <td>Всего с НДС:</td><td style="font-weight: bold;">{{total}} {{curr_symbol}}</td>
		</tr>
	    </table>
	    <div id="document_owners" class="transparent" style="clear: left">
		<img src="img/add-16.png" title="Создано пользователем" style="vertical-align: middle"> {{created_by}} 
		<img src="img/edit-16.png" title="Изменено пользователем" style="vertical-align: middle"> {{modified_by}}
	    </div>
	</div>
	<!-- DOCUMENT VIEWS -->
	<div id="document_view_tile" style="clear:both;">
	    {{views}}
	    <div class="view_button transparent" data-view-id="{{doc_view_id}}" onclick="Doc.view.click( $(this).attr('data-view-id') )">
		<img src="img/settings.png" data-view-i="{{#}}" onclick="Doc.view.settings( $(this).attr('data-view-i') );event.stopPropagation()" style="float:right;">
		<div>{{view_name}}</div>
		#{{view_num}} {{view_date}}
		<div class="view_efields transp60">
		{{if efields}}
		    {{efields}}
		     {{label}}: {{if value}}<u>{{value}}</u>{{/if}}<br/>
		    {{/efields}}
		{{/if}}
		</div>
	    </div>
	    {{/views}}
	</div>
	<textarea name="doc_data" title="Комментарий" placeholder="Комментарий" data-skip="1" class="document_comment" onchange="Doc.head.update('doc_data',this.value)"></textarea>
    </div>
</form>








<style type="text/css">
    .force_center .panel{
	margin:auto;
    }
    .combo-panel{
	cursor: default;
	background-color: #fff;
    }
    .document_comment{
	width: 650px;
	height:30px;
	margin-left:0px;
	margin-top: 3px;
	background-color: #dfd
    }
    .footer_table {
	background-image: linear-gradient(#fff 0%,  #e0eeff 100%);
	border-collapse: collapse;
	margin:5px -2px 2px 0px;
    }
    .footer_table td{
	text-align: right;
	width: 80px;
	border: 1px solid #ccc;
	padding: 3px;
    }
    .view_button{
	display: inline-block;
	border: 1px #999 solid;
	color: #036;
	border-radius: 3px;
	width:150px;
	margin: 0px 5px 5px 0px;
	text-align: center;
	background-image: linear-gradient(rgba(255,255,255,0.75) 0%,  rgba(255,255,255,0) 100%);
	background-color:#cef;
	cursor: pointer;
    }
    .view_button img{
	visibility: hidden;
	z-index: 10;
    }
    .view_button:hover img{
	visibility: visible;
    }
    .view_button:hover .view_efields{
	display: block;
    }
    .view_efields{
	position: absolute;
	margin-top:1px;
	text-align: left;
	width:150px;
	border: 1px #ddd solid;
	overflow: hidden;
	display: none;
	margin-left:-1px;
    }
</style>