<script type="text/javascript" src="js/jquery-easyui-1.4/datagridfilter/datagrid-filter.js"></script>
<script type="text/javascript">
    /* global App,DocList */
    DocList=App.page_trade_document_list = {
	show_only_pcomp_docs:false,
	init: function () {
	    
	},
	initAfter: function () {
	    this.list.init();
	    App.handler.progress(function(status){
		if( status==='passiveCompanySelected'){
		    DocList.show_only_pcomp_docs=true;
		    $('#document_list_dg').datagrid('reload');
		}
	    });
	}
    };
    DocList.list = {
	init: function () {
	    $('#document_list_dg').datagrid('getPager').pagination({
                layout:['list','sep','first','prev','sep','links','sep','next','sep','refresh']
            });
	},
	loader:function(param,success,error){
	    $.get(App.uri('DocumentCore','listFetch',param.page,param.rows,DocList.show_only_pcomp_docs?'show_only_pcomp_docs':''),{filterRules:param.filterRules},function(xhr){
		var resp=App.json(xhr);
		if( resp.rows ){
		    resp.rows.unshift(DocList.list.getNewDocRow());
		    success( resp );
		    if( DocList.list.selectedDocId ){
			$('#document_list_dg').datagrid('selectRecord',DocList.list.selectedDocId);
		    }
		}
		else{
		    success({
			rows:[DocList.list.getNewDocRow()],
			total:1
		    });
		}
	    });
	},
	getNewDocRow:function(){
	    return {
		doc_id:0,
		doc_type_name:'Новый документ',
		doc_date:App.today(),
		company_name:App.pcomp?App.pcomp.label:'',
		doc_type_icon:"new Новый документ"
	    };
	},
	toggleFilter: function () {
	    if (this.filterEnabled) {
		$('#document_list_dg').datagrid('disableFilter');
		this.filterEnabled = false;
	    }
	    else {
		$('#document_list_dg').datagrid('enableFilter');
		this.filterEnabled = true;
	    }
	},
	toggleHide: function( mode ){
	    if( mode ){
		this.colsHidden=(mode!=='hide');
	    }
	    if ( this.colsHidden ) {
		$('#document_list_dg').datagrid('showColumn','doc_type_name');
		$('#document_list_dg').datagrid('showColumn','views');
		$('#document_list_dg').datagrid('resize',{width:650});
		this.colsHidden = false;
	    }
	    else {
		$('#document_list_dg').datagrid('hideColumn','doc_type_name');
		$('#document_list_dg').datagrid('hideColumn','views');
		$('#document_list_dg').datagrid('resize',{width:390});
		this.colsHidden = true;
	    }	    
	},
	onSelect:function(index,row){
	    if( row.doc_id===0 ){
		DocList.list.createDoc();
		return;
	    }
	    App.loadModule('page/trade/document',{doc_id:row.doc_id,open_in:'panel'}).progress(function(status){
		if( status=='close' ){
		    DocList.list.toggleHide('show');
		    $('#document_list_dg').datagrid('unselectAll');
		}
		if( status=='deleted' ){
		    $('#document_list_dg').datagrid('reload');
		}
	    });
	    DocList.list.toggleHide('hide');
	},
	createDoc:function(){
	    $.post('DocumentCore/createDoc',function(resp){
		if( resp*1!==0 ){
		    DocList.list.selectedDocId=resp;
		    $('#document_list_dg').datagrid('reload');
		}
	    });
	}
    };

</script>

<div style="display: table-cell;">
    <div id="page_trade_document"></div>
</div>
<div style="display: table-cell;padding-left:3px;">
    <table id="document_list_dg" class="easyui-datagrid" title="Список документов" style="width:650px;"
	   data-options="
	   idField:'doc_id',
	   loader:DocList.list.loader,
	   pagination:true,
	   pageSize:20,
	   singleSelect:true,
	   remoteFilter:true,
	   onSelect:DocList.list.onSelect,
	   url:'DocumentCore/listFetch',
	   tools:'#document_list_dg_tools',
	   method:'get'">
	<thead>
	    <tr>
		<th data-options="width:120,field:'company_name'">Компания</th>
		<th data-options="width:30,field:'doc_type_icon',align:'center',formatter:App.datagrid.tooltip">Док</th>
		<th data-options="width:65,field:'doc_date'">Дата</th>
		<th data-options="width:140,field:'doc_type_name'">Документ</th>
		<th data-options="width:50,field:'doc_num',align:'right'">Номер</th>
		<th data-options="width:60,field:'amount',align:'right'">Сумма</th>
		<th data-options="width:30,field:'commited',align:'center',formatter:App.datagrid.tooltip">Проведен</th>
		<th data-options="width:30,field:'trans_status',align:'center',formatter:App.datagrid.tooltip">Оплачен</th>
		<th data-options="width:120,field:'views'">Шаблоны печати</th>
	    </tr>
	</thead>
    </table>
</div>
<div id="document_list_dg_tools">
    <a href="javascript:void(0)" class="icon-eye" onclick="DocList.list.toggleHide();" title="Скрыть/показать колонки"></a>
    <a href="javascript:void(0)" class="icon-filter" onclick="DocList.list.toggleFilter();" title="Фильтр таблицы"></a>
    <a href="javascript:void(0)" class="icon-reload" onclick="$('#document_list_dg').datagrid('reload')" title="Обновить"></a>
</div>
