<script type="text/javascript">
    /* global App */
    App.pcomp={};
    TradeJs = {
        init: function () {
            App.initTabs('trade_main_tabs');
	    //this.ctreeInlineInit();
	    this.selectPassiveCompany({company_id:115});
                    $("#trade_main_tabs_info").hide();
                    $("#trade_main_tabs_content").css('visibility','visible');
	},
        selectPassiveCompany: function ( company ) {
            if ( company.company_id && company.company_id!==App.pcomp.company_id ) {
                $.post('Company/selectPassiveCompany/' + company.company_id, function (xhr) {
                    App.pcomp = App.json(xhr);
                    App.handler.notify('passiveCompanySelected');
                });
            }
        },
	ctreeInlineInit:function(){
	    App.loadModule('page/company/tree',{inline:true,clickselect:true},'CtreeInline',/(Ctree|page_company_tree)([^\w]|_)/g,"CtreeInline$2").progress(function(status,company){
                if( status==='select' ){
                    $("#trade_main_tabs_info").hide();
                    $("#trade_main_tabs_content").css('visibility','visible');
                    TradeJs.selectPassiveCompany(company);
                }
	    });
	}
    };
</script>
<table style="border-spacing: 0px;border-collapse: separate;">
    <tr>
        <td style="vertical-align: top;padding: 0px;">
	    <div class="transp60" style="margin-right: 1px;min-width:180px;" id="CtreeInline"></div>
        </td>
        <td style="vertical-align: top;padding: 0px;">
            <div id="trade_main_tabs_info">
                <h1><<< Выберите клиента для начала работы</h1>
            </div>
            <div id="trade_main_tabs_content" style="visibility: hidden">
                <div id="trade_main_tabs" class="slim-tab">
                    <div title="Документы" href="page/trade/document_list.html" style="min-height: 500px;"></div>
                    <div title="Взаиморасчет БЕТА" href="page/trade/payments.html" style="min-height: 500px;"></div>
                    <div title="Настройки" href="page/company/prefs.html" style="min-height: 500px;"></div>
                    <div title="Реквизиты" href="page/company/details.html" style="min-height: 500px;"></div>
                    <div title="Бланки" href="page/trade/blank.html" style="min-height: 500px;"></div>
                </div>
            </div>
        </td>
    </tr>
</table>
