<script type="text/javascript">
    /* global App */
    TradeJs = {
	init:function(){
	    App.initTabs('trade_main_tabs');
	},
	selectCompany:function(company){
	    if( !company.company_id ){
		return false;
	    }
	    $.post('Company/selectPassiveCompany/' + company.company_id,function(xhr){
		App.pcomp=App.json(xhr);
		App.handler.notify('passiveCompanySelected');
	    });	    
	},
	comboLoader:function(param,success,error){
	    $.get('Company/listFetch/selected_passive_if_empty',param,function(xhr){
		var resp=App.json(xhr);
		success(resp[0]?resp:[]);
		if( !param.q && resp[0] ){//selected_passive_if_empty
		    $('#trade_comp_cmb').combobox('select',resp[0].company_id);
		}
	    });
	}
    };
</script>
<div style="float:left;padding-right: 3px;vertical-align: top">
    <div class="transp60" style="min-width:150px;padding:5px;">
	<input class="easyui-combobox" id="trade_comp_cmb" data-options="
	    valueField: 'company_id',
	    textField: 'label',
	    loader:TradeJs.comboLoader,
	    mode: 'remote',
	    method:'get',
	    width:150,
	    onSelect: TradeJs.selectCompany
	    ">
	<ul class="easyui-tree " data-options="
	    url:'Company/branchFetch/',
	    method:'get',
	    loadFilter:function(data){
		for(var i in data){
		    data[i].id=data[i].branch_id;
		    data[i].text=data[i].label;
		    if(data[i].level!=0){
			data[i].iconCls='icon-lock';
		    }
		}
		return data;
	    },
	    onSelect:function(node){
		if(node.state=='closed')
		    $(this).tree('expand',node.target);
		else
		    TradeJs.selectCompany(node);
	    },
	    animate:true,
	    dnd:true">
	</ul>
    </div>
</div>
<div id="trade_main_tabs" style="width:calc(100%)">
    <div title="Документы" href="page/trade/document_list.html" style="min-height: 500px;"></div>
    <div title="Настройки" href="page/company/prefs.html" style="min-height: 500px;"></div>
    <div title="Реквизиты" href="page/company/details.html" style="min-height: 500px;"></div>
</div>
