<script type="text/javascript">
    /* global App */
    Tedit = App.page_accounts_trans_edit = {
	init: function () {

	},
	pcompLoader: function (param, success, error) {
	    $.get('Company/listFetch/selected_passive_if_empty', param, function (xhr) {
		var resp = App.json(xhr);
		success(resp[0] ? resp : []);
		if (!param.q && resp[0]) {//selected_passive_if_empty
		    $('#tedit_comp_cmb').combobox('select', resp[0].company_id);
		}
	    });
	},
	pcompOnSelect: function () {

	}
    };
</script>
<form id="trans_edit_frm">
    <input class="easyui-datebox" name="date" title="Date">
    <input class="easyui-numberbox" name="amount" title="Amount">
    <input class="easyui-numberbox" name="ratio" title="Ratio">
    <input class="easyui-numberbox" name="amount_alt" title="amount Alternative">
    <input class="easyui-combobox" id="tedit_comp_cmb" style="width:100%" title="Контрагент" data-options="
	   valueField: 'company_id',
	   textField: 'label',
	   loader:Tedit.pcompLoader,
	   mode: 'remote',
	   method:'get',
	   onSelect: Tedit.pcompOnSelect
	   ">
    <input class="easyui-combobox" id="tedit_trans_type_cmb" style="width:100%" title="Trans type" data-options="
	   valueField: 'company_id',
	   textField: 'label',
	   loader:Tedit.pcompLoader,
	   mode: 'remote',
	   method:'get',
	   onSelect: Tedit.pcompOnSelect
	   ">
    <textarea title="Comment"></textarea>
    <button type="submit"><img src="img/apply24.png" /> Сохранить</button>
    <button type="button" onclick="cancelTrans()"><img src="img/cancel24.png" /> Отменить</button>
    <button type="button" onclick="window.close()"><img src="img/close24.png" /> Закрыть</button>
</form>
