<script type="text/javascript">
    /* global App */
    Tedit = App.page_accounts_trans_edit = {
	init: function () {
	    this.node.window({
		title: 'Свойства проводки',
		width: 450,
		height: 300,
		onClose: function(){
		    App.page_accounts_trans_edit.handler.notify('close',App.page_accounts_trans_edit.data);
		    App.page_accounts_trans_edit.node.window('destroy');
		    App.page_accounts_trans_edit.node.remove();
		    delete App.page_accounts_trans_edit,Tedit;
		}
	    });
	    App.setupForm("#trans_edit_frm",this.data,'use_inp_values');
	},
	initAfter:function(){
	    $('#page_accounts_trans_edit .validatebox-text').on('focus', function() {
		this.select();
	    });
	    $('#tedit_trans_type_cmb').combobox({
		icons: [{
		    iconCls:'icon-settings16',
		    handler: function(e){
			Tedit.editTransName();
		    }
		}]
	    });
	},
	editTransName:function(){
	    var rows=$('#tedit_trans_type_cmb').combobox('getData');
	    var trans_type=$('#tedit_trans_type_cmb').combobox('getValue');
	    for(var i in rows){
		if( rows[i].trans_type === trans_type ){
		    App.loadWindow('page/accounts/trans_names',rows[i]).progress(function(status){
			if( status==='close' ){
			    $('#tedit_trans_type_cmb').combobox('reload');
			}
		    });
		}
	    }
	},
	pcompLoader: function (param, success, error) {
	    $.get('Company/listFetch/with_active', param, function (xhr) {
		var resp = App.json(xhr);
		success(resp[0] ? resp : []);
	    });
	},
	pcompOnSelect: function () {

	},
	transnameLoader: function (param, success, error) {
	    $.get('AccountsData/transNameListFetch/311', param, function (xhr) {
		var resp = App.json(xhr);
		success(resp[0] ? resp : []);
		if( !Tedit.data.trans_type && resp[0] ){
		    $('#tedit_trans_type_cmb').combobox('select',resp[0].trans_type);
		}
	    });
	}
    };
</script>
<form id="trans_edit_frm">
    <div style="display: inline-block;width: 200px">
	<input style="width:95px" class="easyui-datebox" name="date" title="Дата">
	<input style="width:95px" class="easyui-numberbox" name="amount" title="Сумма">
    </div>
    <div style="display: inline-block;width: 200px">
	<input style="width:95px" class="easyui-numberbox" name="ratio" title="Курс">
	<input style="width:95px" class="easyui-numberbox" name="amount_alt" title="Сумма вал">
    </div>
    <input style="width:300px" class="easyui-combobox" id="tedit_comp_cmb" title="Контрагент" onclick="alert(66)" data-options="
	   valueField: 'company_id',
	   textField: 'label',
	   loader:Tedit.pcompLoader,
	   mode: 'remote',
	   method:'get',
	   onSelect: Tedit.pcompOnSelect
	   ">
    <input style="width:300px" class="easyui-combobox" id="tedit_trans_type_cmb" title="Проводка" data-options="
	   valueField: 'trans_type',
	   textField: 'trans_name',
	   url:'AccountsCore/transNameListFetch',
	   loader:Tedit.transnameLoader,
	   method:'get'
	   ">
    <textarea style="width:292px" title="Комментарий"></textarea>
    <div style="text-align: center;margin-top: 15px;">
	<button type="submit"><img src="img/apply24.png" /> Сохранить</button>
	<button type="button" onclick="cancelTrans()"><img src="img/cancel24.png" /> Отменить</button>
	<button type="button" onclick="Tedit.node.window('close')"><img src="img/close24.png" /> Закрыть</button>
    </div>
</form>
