<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>iSell 3.1</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" type="text/css" href="js/jquery-easyui-1.4/themes/default/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="js/jquery-easyui-1.4/themes/icon.css"/>
    <link rel="stylesheet" type="text/css" href="js/jquery-easyui-1.4/themes/color.css"/>
    <link rel="stylesheet" type="text/css" href="js/dijit/themes/claro/claro.css" />
    <link href="css/app.css" rel="stylesheet" type="text/css" />
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/markup.min.js"></script>
    <script type="text/javascript" src="js/dojo/dojo.js" data-dojo-config="parseOnLoad: true,locale: 'ru'"></script>
    <script type="text/javascript" src="js/dojo/custom_layer.js"></script>
    <script type="text/javascript" src="js/baycik/SeqConnector.js"></script>
    <script type="text/javascript" src="js/baycik/Utils.js"></script>
    <script type="text/javascript" src="js/dhtmlx/tree/dhtmlxcommon.js"></script>
    <script type="text/javascript" src="js/dhtmlx/tree/dhtmlxtree.js"></script>
    
    <script type="text/javascript" src="js/dhtmlx/tree/ext/dhtmlxtree_json.js"></script>


    <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/jquery-easyui-1.4/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="js/jquery-easyui-1.4/locale/easyui-lang-ru.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

    <script type="text/javascript">
	Connector = new SeqConnector('./');
	Acc = new Utils();
	Acc.init = function () {
	    $('#div_user_panel').show();
	    Acc.renderTpl('div_user_panel', Acc.userData||'');
	    Connector.addRequest({
		mod: 'ModuleList'
	    }, function (response) {
		Acc.buildModuleDOM(response);
		var hash = Acc.appGetState();
		hash.mod = hash.mod ? hash.mod : response[0].name;
		Acc.appSetState(hash);
		Acc.loadModule(hash.mod);
	    });
	};
	Acc.appReady = function () {
	    this.topic.subscribe('/app/statechange', function (hash) {
		Acc.loadModule(hash.mod);
	    });
	    Acc.get_user_data();
	};
	Acc.get_user_data = function () {
	    Connector.addRequest({mod: 'Login',rq: 'UserData'}, function (resp) {
		App.userData=Acc.userData = resp;
		Acc.app_title = resp.active_company_name||'Not logged in!';
		Acc.init();
	    });
	};
	function logout() {
	    Connector.addRequest({mod: 'Login',rq: 'UserLogout'}, Acc.get_user_data);
	}
	Acc.sendEmail = function (to, subject, text, fgenerator, doc_view_id, fext) {
	    var fvalue = {
		to: to,
		subject: subject,
		body: text,
		file_name: subject + fext,
		send_file: 1,
		copy: 1
	    };
	    Acc.showPopup(fvalue, function (request) {
		request.mod = 'Utils';
		request.rq = 'SendEmail';
		request.fgenerator = fgenerator;
		request.doc_view_id = doc_view_id;
		Connector.addRequest(request);
	    }, {
		tpl: 'sendemail.html'
	    });
	};
    </script>
    <style>
    .dijitTabContainer {
	overflow: hidden;
    }
    </style>
</head>

<body class=" claro ">
    <div id="ApplicationBar" class="transparent">
	<img src="img/plusLogo.png" style="vertical-align:top" />
	<div style="color:#009;padding:8px;display: inline-block;font-size: 18px;" id="module_title">&nbsp;</div>
	<div style="display: inline-block;float: right;">
	    <div id="div_user_panel" style="display:none;background:#bAc5ff;margin:3px;" class="rounded hidden" align="center">
                <div style="background:#DAE5F0;color:#FF0000;overflow: hidden;" class="rounded" align="center" onclick="App.loadWindow('page/dialog/chat')">
                    {{user_level_name|default:''}} <span style="font-weight:bold;color:#000">{{user_login}}</span> 
                    <a href="javascript:logout()">[выход]</a>
                </div> 
	    </div>
	</div>
	<div id="sync_panel" class="covert" style="display: inline-block;float: right;margin: 4px;cursor: pointer;">
	    {{if updates}}
	    <img src="img/update_yes.png" style="vertical-align: middle" title="Есть обновления" />{{updates|length}}
	    {{else}}
	    <img src="img/update_no.png" style="vertical-align: middle" title="Обновлений нет" />{{updates|length}}
	    {{/if}}
	</div>
    </div>
    <div id="module_menu" class="hidden transparent" style="text-align: center;width:60px;vertical-align: top;float: left;">
	<!--
	{% for item in menuitems %}
	<div class="ModuleButton" id="{{item.name}}Button" title="{{item.label}}"><a href="#mod={{item.name}}"><img src="img/Mods/{{item.icon}}" width="45" height="45" /></a></div>
	{% endfor %}
	-->
	<img src="img/personalize-icon.png" style="width:48px;height:48px;cursor: pointer;" onclick="App.setBg()" title="Установить обои" />
    </div>
    <div id="ModuleContainer" style="margin: 3px;vertical-align: top;"></div>
    <div id="appWindowContainer"></div>
    <div id="appStatus"></div>
</body>
</html>
