<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
	<title>iSell 3.4</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="icon" type="image/png" href="favicon.png" />
	<link rel="stylesheet" type="text/css" href="js/jquery-easyui-1.4/themes/default/easyui.css"/>
	<link rel="stylesheet" type="text/css" href="js/jquery-easyui-1.4/themes/icon.css"/>
	<link rel="stylesheet" type="text/css" href="js/jquery-easyui-1.4/themes/color.css"/>
	<link href="css/app.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="js/markup.min.js"></script>
	<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="js/jquery-easyui-1.4/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="js/jquery-easyui-1.4/locale/easyui-lang-ru.js"></script>
	<script type="text/javascript" src="js/jquery-easyui-1.4/datagridfilter/datagrid-filter.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript">
	    /* global App*/
	    App.loadDojo=function(){
		if( !this.dojoloaded ){
		    $('#dojoloader').load('page/dojoloader.html',function(){
			App.handler.notify('dojoloaded');
		    });
		    this.dojoloaded=true;
		}
	    };
	    App.user = {
		props: {},
		signedIn:false,
		getData: function () {
		    $.get("User/getUserData", function (resp) {
			App.user.setProps( App.json(resp) );
		    });
		},
		setProps:function( userProps ){
		    App.user.props=userProps;
		    if( userProps && userProps.user_level>0 ){
			App.renderTpl('div_user_panel', App.user.props || '');	
			App.renderTpl('div_module_list', App.user.props || '');
			this.signedIn=true;
			this.loginFormHide();
			App.module.init();
		    } else {
			this.signedIn=false;
			this.loginFormShow();
		    }
		},
		signIn: function () {
		    var user_login=$("#user_login").val();
		    var user_pass=$("#user_pass").val();
		    $.post("User/SignIn",{login:user_login,pass:user_pass},function(resp){
			var props=App.json(resp);
			if( props ){
			    $("#SeqDialogMsg").html("");
			    App.user.setProps( props );
			} else {
			    $("#SeqDialogMsg").html("Логин или пароль не верны!").css('color','red').css('font-size','14px');
			}
		    });
		},
		signOut: function () {
		    $.get("User/SignOut");
		    this.setProps({});
		},
		loginFormShow: function () {
		    $("#loginScreen,#loginOverlay").show();
		},
		loginFormHide: function () {
		    $("#loginScreen,#loginOverlay").hide();
		}
	    };
	    App.onReady = function () {
		App.user.getData();
	    };
	    App.module={
		legacy:["Companies","Accounts","Stock","Lists","Data","Pref","Home"],//
		init:function(){
		    $(window).bind( 'hashchange', function(e) {
			App.module.load(location.hash.substring(1));
		    });
		    if( !location.hash ){
			location.hash="#"+App.user.props.module_list[0].name;
		    }
		    App.module.load(location.hash.substring(1));
		},
		load:function(name){
		    if( this.current === name ){
			return false;
		    }
		    $("#holder"+this.current).hide();
		    this.current=name;
		    var holder=$("#holder"+this.current);
		    if( !holder.length ){
			$("#ModuleContainer").append('<div id="holder' + this.current + '"></div>');
			holder=$("#holder"+this.current);
		    }
		    holder.show();
		    this.loadHTML(holder);
		    this.findTitle();
		    this.selectButton();
		},
		loadHTML:function(holder){
		    var url="Proc"+this.current;
		    if( !holder.html() ){
			if( $.inArray(this.current,this.legacy)>-1 ){
			    App.loadDojo();
			    App.handler.progress(function(event){
				if( event==='dojoloaded' ){
				    holder.load(url,function(){
					App.module.initHTML();
				    });
				}
			    });
			} else {
			    holder.load(url,function(){
				App.module.initHTML();
			    });
			}	    
		    }	
		},
		initHTML:function(){
		    setTimeout(function(){
			App.module.parseHTML();
			$("#holder"+this.current).find("script").each(function() { eval(this.text);} );
		    },0);
		},
		parseHTML:function(){
		    if( App.dojoloaded ){
			dojo.require('dojo.parser');
			dojo.parser.parse("holder"+App.module.current);
		    }
		    $.parser.parse("#holder"+App.module.current);//for easy ui   
		    window[App.module.current + 'Js'] && window[App.module.current + 'Js'].init && window[App.module.current + 'Js'].init(); 		    
		},
		findTitle:function(){
		    App.user.props.module_list.forEach(function(item){
			if( item.name===App.module.current ){
			    App.setTitle(item.label);
			    return false;
			}
		    });
		},
		selectButton:function(){
		    $(".ModuleButtonSelected").removeClass("ModuleButtonSelected");
		    $("#"+this.current+"Button").addClass("ModuleButtonSelected");
		}
	    };
	</script>
    </head>
    <body class=" claro ">
	<div id="ApplicationBar" class="transparent">
	    <img src="img/plusLogo.png" style="vertical-align:top" />
	    <div style="color:#009;padding:8px;display: inline-block;font-size: 18px;" id="module_title">&nbsp;</div>
	    <div id="holder_user_panel">
		<img src="img/user-32.png" style="margin: 4px;"/>
		<div id="div_user_panel">
		    <div style="color:red">{{user_level_name}}</div>
		    <div style="font-weight:bold;color:#000">{{user_login}}</div> 
		    <button onclick="App.user.signOut()"><img src="img/logout.png"/> Выход</button>
		</div>
	    </div>
	    <span id="sync_panel" class="covert" style="margin: 4px;cursor: pointer;float:right">
		{{if updates}}
		{{if is_release}}
		<img src="img/update_yes.png" style="vertical-align: middle" class="blink" title="Есть обновления" />
		{{else}}
		<img src="img/update_yes.png" style="vertical-align: middle" title="Есть обновления" />
		{{/if}}
		    {{updates|length}}
		{{else}}
		<img src="img/update_yes.png" style="vertical-align: middle" title="Обновлений нет" />
		{{/if}}
	    </span>
	    <span id="chat_panel" class="covert" style="margin: 4px;cursor: pointer;float:right" onclick="App.loadWindow('page/dialog/chat')">
		{{if count|more>0}}
		<img src="img/chat_yes.png" style="vertical-align: middle" class="blink" title="Есть новые сообщения" />{{count}}
		{{else}}
		<img src="img/chat_no.png" style="vertical-align: middle" title="Новых сообщений нет" />
		{{/if}}	    
	    </span>
	</div>
	<div id="div_module_list" class="covert transparent" style="text-align: center;width:60px;vertical-align: top;float: left;">
	    {{module_list}}
		<div class="ModuleButton" id="{{name}}Button" title="{{label}}">
                    <a href="#{{name}}">
                        <!--<img src="img/Mods/{{icon}}" width="45" height="45" />-->
                    </a>
                </div>
	    {{/module_list}}
	    <img src="img/personalize-icon.png" style="width:48px;height:48px;cursor: pointer;" onclick="App.setBg()" title="Установить обои" />
	</div>
	<div id="ModuleContainer" style="margin: 3px;vertical-align: top;"></div>
	<div id="appWindowContainer"></div>
	<div id="dojoloader"></div>
	<div id="appStatus"></div>
	<div id="loginScreen" class="rounded">
	    <div style="color:#fff" id="SeqDialogMsg"></div>
	    <div class="rounded" style="margin-left:auto;margin-right:auto;background: #def;">
		<form action="User/SignIn" method="post" onsubmit="App.user.signIn();event.preventDefault();">
		    <table width="200" border="0" align="center" cellspacing="1">
			<tr>
			    <td colspan="2" align="center">
				<big>Авторизация</big>
			    </td>
			</tr>
			<tr>
			    <td><input type="text" id="user_login" name="user_login" style="width:100%;"  autofocus="autofocus" placeholder="Логин" /></td>
			</tr>
			<tr>
			    <td><input type="password" id="user_pass" name="user_pass" style="width:100%;" placeholder="Пароль" /></td>
			</tr>
			<tr>
			    <td colspan="2" align="center">
				<button type="submit" value="Submit" id="submit_button"><img src="img/apply24.png" style="vertical-align: middle"/> Вход</button>
			    </td>
			</tr>
		    </table>
		</form>
	    </div>
	</div>    
	<div id="loginOverlay"></div>
    </body>
</html>
