<script>
    /*global App*/
    Ctree = App.page_company_tree = {
	properties: {
	    title: 'Дерево компаний',
	    width: 470,
	    height: 440,
	    modal: true,
	    onClose: function () {
		Ctree.handler.notify('close', Ctree.data);
		Ctree.node.window('destroy');
		Ctree.node.remove();
		delete App.page_company_tree, Ctree;
	    }
	},
	init: function () {
	    if (this.data.inline) {
		this.node.panel(Ctree.properties);
	    } else {
		this.node.window(Ctree.properties);
	    }
	},
	enableButtons:function( leaf ){
	    if( leaf ){
		Ctree.node.find('.ok').prop('disabled',false);
	    }
	    Ctree.node.find('.folder').prop('disabled',false);
	},
	select: function () {
	    var company=$('#Ctree_tree').tree('getSelected');
	    Ctree.handler.notify('select', company);
	},
	edit:function(node){
	    alert(node.toSource());
	}
    };
</script>
<div style="width:450px;height: 360px;overflow: auto">
    <ul class="easyui-tree" id="Ctree_tree" data-options="
	url:'Company/branchFetch/',
	method:'get',
	loadFilter:function(data){
	    for(var i in data){
		data[i].id=data[i].branch_id;
		data[i].text=data[i].label;
		if(data[i].level!=0){
		    data[i].iconCls='icon-lock';
		}
	    }
	    return data;
	},
	onSelect:function(node){
	    if(node.state=='closed') {
		$(this).tree('expand',node.target);
		Ctree.enableButtons(0);
	    } else {
		Ctree.enableButtons(1);
	    }
	},
	onDblClick:Ctree.select,
	animate:true,
	dnd:true">
    </ul>
</div>
<style>
    #page_company_tree button span{
	display: none;
    }
    #page_company_tree button:hover span{
	display: inline;
    }
</style>
<div style="text-align: center">
    <button onclick="Ctree.select()" class="ok" disabled="disabled"><img src="img/apply24.png"> Выбрать</button> | 
    <button onclick="Ctree.select()" class="folder" disabled="disabled" title="Добавить компанию"><img src="img/edit_add.png"></button>
    <button onclick="Ctree.select()" class="folder" disabled="disabled" title="Добавить папку"><img src="img/FolderAdd-24.png"></button>
    <button onclick="Ctree.edit()" class="folder" disabled="disabled" title="Редактировать"><img src="img/Edit-24.png"></button>
    <button onclick="Ctree.delete()" class="folder" disabled="disabled" title="Удалить"><img src="img/delete.png"></button>
    <button onclick="Ctree.delete()" title="Обновить"><img src="img/reload.png"></button>
</div>