<script>
    /*global App*/
EventsJs={
    activeDates:[],
    selectedDay:App.toIso(App.today()),
    init:function(){
	this.activeDatesGet();
	this.tile.load();
    },
    activeDatesGet:function(){
	$.get("Events/activeDatesGet",function(resp){
	    EventsJs.activeDates=App.json(resp);
	    $("#event_calendar").calendar("moveTo",new Date(EventsJs.selectedDay));
	});
    },
    show_dialog:function(fvalue){
	fvalue.event_user_id = App.user.props.user_id;
	App.loadWindow('page/events/event', fvalue).progress(function (status, fvalue) {
	    if (status === 'update' || status === 'create' || status === 'delete') {
		EventsJs.selectedDay = App.toIso(fvalue.event_date) || EventsJs.selectedDay;
		EventsJs.activeDatesGet();
	    }
	});	
    },
    calendar:{
	formatter:function (date) {
	    var iso = App.toIso(date);
	    for (var i in EventsJs.activeDates) {
		if ( iso === EventsJs.activeDates[i]['event_date'] ) {
		    return '<div style="border:2px #0f0 solid;border-radius:18px;font-size:14px;">' + date.getDate() + '</div>';
		}
	    }
	    return '<div style="font-size:14px;">' + date.getDate() + '</div>';
	},
	onChange: function(date){
	    EventsJs.selectedDay = App.toIso(date);
	    //EventsJs.initLabelList();
	}
    },
    tile:{
	event_list:[],
	load:function(){
	    $.get("Events/listFetch/"+EventsJs.selectedDay,function(resp){
		EventsJs.tile.event_list=App.json(resp);
		var event_label='';
		for(var i=0;i<EventsJs.tile.event_list.length;i++){
		    if( EventsJs.tile.event_list[i].event_label!==event_label ){
			event_label=EventsJs.tile.event_list[i].event_label||'';
			EventsJs.tile.event_list.splice(i,0,{header:event_label});
		    }
		}
		App.renderTpl('events_tile',{events:EventsJs.tile.event_list});
		//var last_index=App.store('last_event_i')||1;
		//EventsJs.event.load(EventsJs.tile.event_list[last_index]);
	    });
	},
	click:function( node ){
	    $(".event_tile_item_row_selected").removeClass("event_tile_item_row_selected");
	    $(node).addClass("event_tile_item_row_selected");
	    //var index=$(node).data('event-index');
	    //EventsJs.show_dialog(EventsJs.tile.event_list[index]);
	},
	create:function(){
	    
	},
	edit:function(){
	    
	},
	delete:function(){
	    
	},
	print:function(){
	    
	}
    }
};    
</script>
<style>
    .event_tile_label{
	text-align: center;
	font-size: 18px;
	margin: 5px;
	margin-bottom: 0px;
	padding: 5px;
    }
    .event_tile_item_row{
	margin:0px 5px 0px 5px;
	background-color: rgba(255,255,255,0.4);
	border-bottom: 1px #999 solid;
    }
    .event_tile_item_row:hover{
	background-color: rgba(255,255,255,0.7);
	cursor: pointer;
    }
    .event_tile_item_row div{
	display: table-cell;
	vertical-align: middle;
	border-left: 1px solid #def;
	padding: 1px;
	height: 25px;
	overflow: hidden;
	text-overflow: ellipsis;
    }
    .event_tile_item_row_selected,.event_tile_item_row_selected:hover{
	margin:-2px 3px -1px 3px;
	border: 2px solid #000;
    }
    .event_tile_header,.event_tile_header:hover{
	background: linear-gradient(0deg, rgba(220,255,255,0.9), rgba(255,255,255,0.6));
	cursor: default;
    }
    .event_tile_header div{
	text-align: center;
	font-weight: bold;
    } 
</style>
<div id="event_calendar" class="easyui-calendar" style="width:220px;height:220px;display: inline-block" data-options="
		 formatter:EventsJs.calendar.formatter,
		 onChange:EventsJs.calendar.onChange"></div>
<div style="display: inline-block;vertical-align: top;background-color: rgba(255,255,255,0.4);width:950px;padding: 10px;">
    <div id="events_tile">
	{{events}}
	    {{if header}}
	    <div style="padding: 5px;padding-top: 20px;">
		<div style="text-align: right;padding-right: 5px;float: right;">
		    <span class="icon-24 icon-create" title="Добавить" onclick="EventsJs.tile.create();"> </span>
		    <span class="icon-24 icon-change" title="Изменить" onclick="EventsJs.tile.edit();"> </span>
		    <span class="icon-24 icon-delete" title="Удалить" onclick="EventsJs.tile.delete();"> </span>
		    <span class="icon-24 icon-print" title="Печать" onclick="EventsJs.tile.print();"> </span>
		</div>
		<span style="font-size:18px;font-weight: bold">
		    {{header}}
		</span>
	    </div>
	    <div class="event_tile_item_row event_tile_header">
		<div style="width:25px">!</div>
		<div style="width:60px">Дата</div>
		<div style="width:150px">Задание</div>
		<div style="width:150px">Цель</div>
		<div style="width:200px">Место</div>
		<div style="width:100px">Контакт</div>
		<div>Комментарий</div>
	    </div>
	    {{else}}
		<div class="event_tile_item_row" data-event-index="{{#}}" onclick="EventsJs.tile.click(this);">
		    <div style="max-width:26px;width:25px;"></div>
		    <div style="max-width:60px;width:60px;text-align: center">{{date_dmy}}</div>
		    <div style="max-width:150px;width:150px">{{event_name}}</div>
		    <div style="max-width:150px;width:150px">{{event_target}}</div>
		    <div style="max-width:200px;width:200px">{{event_place}}</div>
		    <div style="max-width:100px;width:100px">{{event_note}}</div>
		    <div>{{event_descr}}</div>
		</div>	
	    {{/if}}
	{{/events}}
    </div>
</div>
