<script>
    /* global App*/
    App.page_dialog_chat = {
	init: function () {
	    this.node.window({
		width: 400,
		title: 'Chat',
		height: 400,
		onClose: function () {
		    clearInterval(this.clock);
		    App.page_dialog_chat.node.window('destroy');
		    delete App.page_dialog_chat;
		}
	    });
	    this.node.window('center');
	    this.loadUserlist();
	    $("#chat_form").submit(function (e) {
		e.preventDefault();
		var text = $("#chat_form input").val();
		$("#chat_form input").val('');
		App.page_dialog_chat.sendRecieve(text);
	    });
	    //this.clock=setInterval(App.page_dialog_chat.sendRecieve,500);
	    //TMPPPPPPPPP
	    delete App.tplcache['chat_field'];
	    this.sendRecieve();
	},
	loadUserlist: function () {
	    $.get('Chat/getUserList', function (resp) {
		var users = {user_list: App.json(resp)};
		users.user_list.push({user_login: 'all'});
		App.renderTpl('chat_users', users, 'nocache');
		this.counterpart = App.cookie('last_chat_counterpart')||'all';
		$("#chat_users div[data-user="+this.counterpart+"]").addClass('user_selected');
	    });
	},
	setCounterpart: function (user_div) {
	    $("#chat_users div").removeClass('user_selected');
	    $(user_div).addClass('user_selected');
	    this.counterpart = $(user_div).html();
	    App.cookie('last_chat_counterpart',this.counterpart);
	},
	sendRecieve: function (msg) {
	    $.get(App.uri('Chat', 'sendRecieve', App.page_dialog_chat.counterpart || '', msg || ''), function (resp) {
		App.renderTpl('chat_field', {msgs: App.json(resp)});
		$("#chat_field").animate({ scrollTop: $("#chat_field")[0].scrollHeight}, 1000);
	    });
	}
    };
</script>
<div id="chat_users">
    {{user_list}}
    <div onclick="App.page_dialog_chat.setCounterpart(this)" data-user="{{user_login}}">{{user_login}}</div>
    {{/user_list}}
</div>
<div id="chat_field">
    {{msgs}}
    {{if me|more>0}}
    <div class="bubble blue">
	<b>{{event_target}}</b> {{event_descr}}
    </div>
    {{else}}
    <div class="bubble bubble-alt yellow">
	<b>{{event_target}}</b> {{event_descr}}
    </div>
    {{/if}}
    {{/msgs}}
</div> 
<form id="chat_form">
    <table style="width: 100%">
	<tr>
	    <td><input type="text" style="width: calc(100% - 10px)"/></td>
	    <td style="width:30px"><button type="submit"><img src="img/sms.png"></button></td>
	</tr>
    </table>
</form>
<style>
    #chat_users{
	max-height: 300px;
        float: right;
        background-color: #c3c;
	overflow: auto;
    }
    #chat_users div{
        padding: 5px;
        margin: 1px;
        cursor: pointer;
    }
    #chat_users div:hover{
        background-color: #ffc;
    }
    #chat_users .user_selected{
        background-color: #ffc;
    }
    #chat_field{
        height: 300px;
        overflow: auto;
	margin: 0 auto;
	padding: 10px;
    }
    .bubble {
	box-sizing: border-box;
	float: left;
	width: auto;
	max-width: 80%;
	position: relative;
	clear: both;
	background: #95c2fd;
	background-image: linear-gradient(bottom, #bee2ff 15%, #95c2fd 100%);
	border: solid 1px rgba(0,0,0,0.2);
	border-radius: 20px;
	box-shadow: inset 0 8px 5px rgba(255,255,255,0.65), 0 1px 2px rgba(0,0,0,0.2);
	margin-bottom: 20px;
	padding: 6px 20px;
	color: #000;
	text-shadow: 0 1px 1px rgba(255,255,255,0.8);
	word-wrap: break-word;
    }

    .bubble:before, .bubble:after {
	border-radius: 20px / 5px;
	content: '';
	display: block;
	position: absolute;
    }
    .bubble:before {
	border: 10px solid transparent;
	border-bottom-color: rgba(0,0,0,0.5);
	bottom: 0px;
	left: -7px;
	z-index: -2;
    }
    .bubble:after {
	border: 8px solid transparent;
	border-bottom-color: #bee2ff; /* arrow color */
	bottom: 1px;
	left: -5px;
    }


    .bubble-alt {
	float: right;
    }
    .bubble-alt:before {
	left: auto;
	right: -7px;
    }
    .bubble-alt:after {
	left: auto;
	right: -5px;
    }

    .blue {
	background: rgba(0,120,255,.3);
	background-image: linear-gradient(bottom, rgba(100,220,255,.5) 15%, rgba(50,120,255,.3) 100%);
    }
    .blue:after {
	border-bottom-color: rgba(50,120,255,.3);
    }

    .yellow {
	background: rgba(255,255,50,.3);
	background-image: linear-gradient(bottom, rgba(255,255,100,.5) 15%, rgba(255,255,50,.3) 100%);
    }
    .yellow:after {
	border-bottom-color: rgba(255,255,50,.5);
    }

</style>