<script>
    /*global App*/
    App.page_dialog_universal_editor={
	init:function(){
	    this.node.window({
		width: 800,
		title: 'Редактирование записи',
		height: 600,
		top:50,
		shadow:false,
		onClose: function () {
		    App.page_dialog_universal_editor.node.window('destroy');
		    App.page_dialog_universal_editor.handler.notify('close');
		    delete App.page_dialog_universal_editor;
		}
	    });
	    this.createForm(this.fstructure);
	},
	createForm:function(fstructure){
	    
	}
    };
</script>
<form>
    <div id="page_dialog_universal_editor_container">
    </div>
</form>